@import url('https://fonts.googleapis.com/css?family=Work+Sans:200,300,400,500'); // Colours
// Variables
$blue: #1B5A75;
$teal: #247BA0;
$green: #70C1B3;
$lightGreen: #B2DBBF;
$yellow: #F3FFBD;
$red: #FF1654;
$titleFont: "PT Sans";
$bodyFont: "Work Sans"; // Extended font styles
// Mix-in's
@mixin elSize($width, $height) {
  width: $width;
  height: $height;
}
@mixin transform($time) {
  -webkit-transition: all $time ease;
  transition: all $time ease;
}

%pageTitle {
  font-family: $titleFont, sans-serif;
  color: $green;
  font-size: 24px;
  font-weight: 500;
  font-style: italic;
}

%pageTitle-lg {
  @extend %pageTitle;
  font-size: 48px;
  color: $yellow;
  font-weight: 600;
}

%copyLarge {
  font-family: $bodyFont, sans-serif;
  color: $yellow;
  font-size: 32px;
  font-weight: 400;
}

%copyRegular {
  font-family: $bodyFont, sans-serif;
  color: $yellow;
  font-size: 24px;
  font-weight: 300;
}

%copySmall {
  font-family: $bodyFont, sans-serif;
  color: $yellow;
  font-size: 16px;
}

%pop {
  color: $red;
  text-transform: uppercase;
  font: {
    family: $titleFont, sans-serif;
    size: 24px;
    weight: 600;
    style: italic;
  }
  @include transform(0.2s);

  &:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}
// Extended display Styles

%flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

%flex-h-center {
  @extend %flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

%flex-v-center {
  @extend %flex-h-center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

%diamond-lg {
  max-width: 650px;
  height: 150px;
  background-color: $yellow;
  -webkit-clip-path: polygon(0 50%, 50% 0, 100% 50%, 50% 100%);
  clip-path: polygon(0 50%, 50% 0, 100% 50%, 50% 100%);
}

%diamond-sm {
  @include elSize(300px, 100px);
  background-color: $yellow;
  -webkit-clip-path: polygon(0 50%, 50% 0, 100% 50%, 50% 100%);
  clip-path: polygon(0 50%, 50% 0, 100% 50%, 50% 100%);
}

%box {
  max-width: 900px;
  background: $blue;
  margin: 25px auto 0;
  padding: 35px;
  -webkit-box-shadow: 2px 7px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 7px 10px rgba(0, 0, 0, 0.25);
}
// Styles

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  text-decoration: none;

  &:focus {
    outline: none;
  }
}

.center {
  margin: 0 auto;
}

body {
  background-color: $teal;
  text-align: center;
  padding: 20px;
  font: {
    family: $bodyFont, sans-serif;
    size: 16px;
    color: $green;
  }
}

h1 {
  @extend %pageTitle-lg;
  line-height: 1;
}

h2 {
  @extend %pageTitle;
}

h2.glow {
  @extend %pageTitle;
  color: $lightGreen;
}

h3 {
  @extend %pageTitle;
  font-size: 20px;
  margin: 25px auto;
}

a {
  color: $green;

  &.active {
    color: $red;
  }
}

p {
  @extend %copyRegular;
}

p.large {
  @extend %copyLarge;
}

p.small {
  @extend %copySmall;
}

.logo {
  max-width: 350px;
}

.tagline {
  max-width: 335px;
  margin-bottom: 25px;

  p {
    text-align: right;
    color: $green;
  }
}

.third {
  width: 40%;
}

footer {
  margin-top: 50px;
}
// Input Styles

input,
textarea {
  @extend %copyRegular;
  background: transparent;
  padding: 10px;
  text-align: center;
  @include transform(0.5s);
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-style: italic;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  font-style: italic;
}

input::placeholder,
textarea::placeholder {
  font-style: italic;
}

input:hover,
textarea:hover {
  background-color: #10495C;
}
