@import url('https://fonts.googleapis.com/css?family=Work+Sans:200,300,400,500');

$green: #3BC8AA;
$orange: #FF551A;
$black: #1E1E1E;

$titleFont: "PT Serif";
$bodyFont: "Work Sans";

body {
  color: $black;
  font-family: $bodyFont, sans-serif;
}

h2 {
  color: $green;
  font-family: $titleFont, sans-serif;
}
