// Filters

.filters {
  @extend %flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 10px;

  li {
    display: inline;
  }

  p {
    margin-bottom: 5px;
  }

  > form,
  > ul {
    width: 33%;
  }
}

.location input {
  @extend %copySmall;
  color: $green;
  font-weight: 400;
  padding: 0;
  border-bottom: 1px solid $yellow;

  &:hover {
    background: #00000047;
  }

  &:focus {
    background: #00000047;
  }
}
// Reviews

.review {
  @extend %box;
  @extend %flex-v-center;
  padding: 0;
  height: 125px;
  @include transform(0.5s);

  a {
    color: $yellow;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  &:hover {
    background-color: #10495C;
  }

  .thumb {
    height: 100px;
    width: 100px;
    overflow: hidden;
    text-align: center;
  }

  .counter {
    opacity: 0.5;
    font-size: 12px;
    margin: -15px 15px;
  }
}

.forty {
  width: 40%;
}

.twenty {
  width: 20%;
}
