.new_review,
.edit_review {
  @extend %box;

  label {
    display: block;
    @extend %pageTitle;
  }

  div.input {
    @extend %copyRegular;
    margin-bottom: 20px;
  }

  input.numeric {
    width: 100px;
    text-align: center;
    margin-right: -10px;
  }

  #review_body,
  #review_address {
    width: 600px;
  }

  #review_body {
    height: 250px;
  }

  span.error {
      font-size: 14px;
      display: block;
      color: $red;
  }

  .radio {
    display: inline-block;
    margin-right: 10px;

    input {
      margin-right: 5px;
    }
    label {
      @extend %copyRegular;
    }
  }
}
