.show-card {
  @extend %box;

  h2 {
    @extend %pageTitle;
    margin-top: 5px;
  }
  p {
    @extend %copySmall;
  }
}

h2.card-title {
  @extend %copyLarge;
}

.body {
  p {
    color: $green;
    margin-bottom: 10px;
    padding: 25px;
  }
}

.score {
  @extend %diamond-sm;
  @extend %flex-v-center;
  margin: 15px auto;

  p {
    @extend %pop;
    pointer-events: none;
  }
}

.qualities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  p {
    color: $green;
    &:first-child {
      font-weight: 500;
    }
  }
}

.actions {
  margin-top: 50px;
  @extend %flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  a {
    @extend %copyRegular;
    color: $yellow;
    font-size: 16px;
    opacity: 0.7;
    @include transform(0.2s);

    &:hover {
      opacity: 1;
    }
  }
}

.comment {
  width: 650px;
  margin: 0 auto 25px;
  padding: 10px;
  text-align: left;
  border-left: 2px solid $green;

  p {
    @extend %copySmall;
  }

  .posted {
    font-size: 12px;
    text-align: right;
    opacity: 0.5;
  }
}

.new_comment {
  max-width: 650px;
  margin: 0 auto;
  label.text.required {
    display: none;
  }
  #comment_body {
    @extend %copySmall;
    text-align: left;
    background-color: $blue;
    border-bottom: 1px solid $yellow;
    width: 100%;
  }
  input.btn {
    @extend %pop;
    @extend %diamond-sm;
    font-size: 16px;
    height: 50px;
    width: 175px;
    margin-top: 20px;
  }
}
